*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size:62.9%;
}

:root{
    /*------------------PRIMARY COLORS---------------------*/
    --main-primary-very-dark-bg:hsl(233, 47%, 7%);
    --main-primary-dark-blue-card-bg:hsl(244, 38%, 16%);
    --main-primary-violet-stat-headings:rgba(155, 22, 238, 0.6);
    /*-----------------------------------------------------*/

    /*------------------NEUTRAL COLORS---------------------*/

    --main-neutral-white:white;
    --main-neutral-transparent-white-p:hsl(0, 0%, 100%, 0.75);
    --main-neutral-transparent-white-stat:hsl(0, 0%, 100%);
    /*------------------------------------------------------*/
}

html, body{
    width:calc(100vw - 0px /*15px*/);
    height:calc(100vh - 0px /*20px*/);
    background-color:var(--main-primary-very-dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        width: 100%;
        max-width: 200px;
        background-color:var(--main-primary-dark-blue-card-bg);
        border-radius: 2%;

        .container-top{

            width: 100%;
            min-height: 160px;
            background-image: url(/images/image-header-mobile.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 2% 2% 0 0;
            .front-color{
                width: 100%;
                height: 160px;
                background-color:var(--main-primary-violet-stat-headings);
                border-radius: 2% 2% 0 0;
            }

        }

        .content-text{
            
            padding: 1rem 0;
            text-align: center;
            h1{
                font-size: 2.2rem;
                padding: 1.3rem 0;
                color:var(--main-neutral-white);

                span{
                    color:var(--main-primary-violet-stat-headings);
                }
            }

            p{
                font-size: 1.2rem;
                line-height: 1.7rem;
                color: var(--main-neutral-transparent-white-p);
            }
        }

        .total-numbers{
            text-align: center;
            padding: 1.6rem 0;
            h1{
                font-size: 2rem;
                padding: 0.2rem 0;
                color: white;
            }

            p{
                color:var(--main-neutral-transparent-white-p);
            }
            
            .middle2{
                padding: 2rem 0;
            }
        }

    }
}

@media all and(min-width:1024px){

    .card{
        max-width: 900px!important;
        display: flex;
        flex-direction: row-reverse;

        .container-top{

            
            max-width: 450px;
            .front-color{
                width: 100%;
                max-width: 532px;
                height: 318px!important;
                
            }

        }

        .container-bottom{
            padding: 3.5rem 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .content-text{
            width: 100%;
            max-width: 240px;
            
            padding: 1rem 0;
            text-align: center;
            h1{
                font-size: 2.2rem;
                padding: 1.3rem 0;
                color:var(--main-neutral-white);
                text-align: left;

                span{
                    color:var(--main-primary-violet-stat-headings);
                }
            }

            p{
                font-size: 1.2rem;
                text-align: left;
                line-height: 1.7rem;
                color: var(--main-neutral-transparent-white-p);
            }
        }


        .total-numbers{
            display: flex;
            h1{
                
                font-size: 2rem;
                padding: 0.2rem 1.9rem!important;
                color: white;
            }

            p{
                color:var(--main-neutral-transparent-white-p);
            }
            
            .middle2{
                padding: 0 2rem!important;
            }
        }

    }
}